//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

$fp-body-bg:				#fff;
$fp-body-bg-2:      rgba(255,255,255,.2);
$fp-body-bg-4:      rgba(255,255,255,.4);
$fp-body-bg-6:      rgba(255,255,255,.6);
$fp-body-bg-8:      rgba(255,255,255,.8);
$fp-brand-primary:		#3c9dfc;
$fp-brand-success:		#43ac43;
$fp-brand-info:  			#25cdcd;
$fp-brand-warning:		#f5622e;
$fp-brand-danger:	  	#ff6769;
$fp-border-color:     #d6d6d6;

$fp-normal-tit:       #2f2f2f;

$standard-text-color: #323232;

// == Typography
// font-size

// == Components
// padding radius size
$prime-area-height: 440px;
$puzzle-sesond-height: 305px;
// == Container size
$fp-gutter-width: 30px;
$fp-gutter-clear: 0px;
$fp-container-width: 1200px;


//== Media queries breakpoints

//== Grid system

